.flexwrap{
  display: flex;
}

header div{
  background: red;
  padding:10px;
  margin:10px;
  border: 1px black solid;
}

.logo{
  flex-grow:2;
}

.nadpis{
  flex-grow: 8;
}

nav ul{
  padding:0px;
}

nav li{
  display: flex;
  background: green;
  margin:10px;
  width:100%;
}

nav li a{
  display: block;
  width: 100%;
  padding:10px;
}

section{
  background: red;
  padding:10px;
  margin:10px;
  border: 1px black solid;
  width: 80%;
}

section div{
  background: gray;
  width:100%;
  margin:1%;
  padding:1%;
  min-height: 200px;
}

footer div{
  background: blue;
  padding:1%;
  margin:1%;
  width:100%;
}

aside{
  background: red;
  padding:10px;
  margin:10px;
  border: 1px black solid;
  width: 20%;
}
